$pink: #F7739C;
$backgroundColor: #F5F5F7;
$red: #E14034;

$curtain-color: #F6F7F8;
$border-color: darken(#EDEEEE, 1%);
$dark-border-color: #BCBEC0;
$dark-blue: #1C2D45;
$light-grey: #F6F7F8;
$dark-grey: #EFEFF0;
$pink: #fc5474;
$purple: #a87eb1;
$grey: #808285;
$green: #75C05B;
$yellow: #F7941E;

$black: #38404E;
$light-blue: #1EB4F5;
$input-blue: #DDF4FE;

$light-green: #EAF6E6;
$light-yellow: #FBEAD3;
$light-red: #FAE3E1;

$salmon: #d13c60;
$teal: #219580;

$puppet-black: #292929;
$puppet-teal: #219580;
$puppet-magenta: #d13c60;
$puppet-light-grey: #bbbbbb;

